<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link href="https://unpkg.com/mvp.css" rel="stylesheet" />
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<header>
    <h1>지역 검색</h1>
</header>

<center>
    <form id="search_form" action="/search">
        <input
            type="text"
            placeholder="keyword"
            id="search_input"
            name="q"
        >
        <button>검색</button>
    </form>
</center>

<main>
    {% if areas %}
        <center>
            <h3>{{areas|length}}개 데이터 수집...</h3>
        </center>
        <section>
            {% for area in areas %}
            <div>
                
                <p>
                    {% if area.title | length >10 %}
                    {{area.title[:10]}}...
                    {% else %} {{area.title}} {% endif %}
                </p>
                <p>
                    {{area.name}}
                </p>

                <form action="/favorites" method="post" class="isFav">
                    <input type="hidden" name="title" value="{{area.title | striptags}}">
                    <input type="hidden" name="link" value="{{area.link}}">
                    <input type="hidden" name="category" value="{{area.category}}">
                    <input type="hidden" name="description" value="{{area.description}}">
                    <input type="hidden" name="telephone" value="{{area.telephone}}">
                    <input type="hidden" name="address" value="{{area.address}}">
                    <input type="hidden" name="roadAddress" value="{{area.roadAddress}}">
                    <input type="hidden" name="mapx" value="{{area.mapx}}">
                    <input type="hidden" name="mapy" value="{{area.mapy}}">
                    <input type="hidden" name="next_url" value="{{next_url}}">
                    <button type="submit" class="heart_button" title="즐겨찾기">
                        {% if area.is_favorite %}
                        ♥
                        {% else %} 
                        ♡
                        {% endif %} 
                    </button>
            </div>
            {% endfor %}
        </section>
        
        {% else %}
        <center>
            <h3>{{areas|length}}개 데이터 수집...</h3>
        </center>
        {% endif %}
</main>
</body>
</html>